fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'romana';
    src: url('fonts/RomanaBold.ttf'), url('RomanaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'romana';
    src: url('fonts/RomanaRoman.ttf'), url('RomanaBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #FFF9F9;
    font-family: romana, Times, serif;
    font-size: 16px;
}


p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

/*
.nav-left {
    padding: 10px 0 0 10px;
}

.nav-right {
    background-color: #FEE3EF;
    float: right;
    padding-right: 10px;
    margin-top: -28px;
}*/

.pink-mod,
.white-mod {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}


.pink-mod {
    background-color: #FEE3EF;
    padding: 75px 20px 62px;
}

.white-mod {
    padding: 75px 20px;
}

.episode-container {
    text-align: center;
}

.action-container {
    position: absolute;
    top: 100%;
    margin-top: -21px;
}

.ep-title {
    font-size: 36px;
    font-style: italic;
    color: #FD530B;
    margin: 15px;
    font-weight: bold;
}

.skip-link {
    color: #FD530B;
}

.details {
    color: #FD530B;
}

.ep-year{
    color: #FD530B;
}


.action-container {
    text-align: center;
}

.watch-btn {
    background-color: #FD530B;
    color: #FFF9F9;
    padding: 12px 25px 12px 24px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}


.skip-area {
    margin-top: 15px;
    font-weight: bold;
}

.updates-container {

}

@media only screen and (min-width: 500px) {
    body {
        font-size: 18px;
        line-height: 22px;
    }

    .ep-title {
        font-size: 42px;
        line-height: 48px;
    }

}

@media only screen and (min-width: 900px) {

    body {
        font-size: 18px;
        line-height: 22px;
    }


    .flex-container{
        display: flex;
        width: 100%;
        height: 100vh;
    }


    .white-mod,
    .pink-mod { 
        padding: 6%;
    }

    .pink-mod {
        min-width: 50%;
    }

    .white-mod {
        min-width: 50%;
        margin: 0;
    }

    .ep-title {
        font-size: 50px;
        line-height: 55px;
    }

    .episode-container {
        margin-bottom: 40px;
    }

    .action-container {
        position: static;
        margin-top: 0;
    }

}


.shake img {
    max-width: 300px;
    display: block;
    margin: 10% auto 0;
    padding-left: 4px;

}

.shake p {
    margin-top: -10px;
    font-size: 36px;
    color: #FD530B;
    text-align: center;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
}


td {
    padding: 8px;
}

th {
    text-align: left;
}

.closet-title {
    font-size: 36px;
    color: #FD530B;
    text-align: center;
    font-weight: bold;
}

.closet th {
    padding: 10px 10px 10px 10px;
}

.closet td {
    padding: 10px 10px 10px 10px;
}

.closet tr:nth-child(even) {
    background-color: #FFF9F9;
}

table {
    border-collapse: collapse;

}
